* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav {
    height: 40px;
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    box-shadow: 0 1px 3px rgb(0 0 0 / 25%), inset 0 -1px 0 rgb(0 0 0 / 10%);


}

nav .navbar {}

main .container {
    bottom: 0px;
    margin-top: 20px;
    font-size: 18px;
    padding: 60px;
    margin-bottom: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #333333;
    padding: 60px;
    background-color: #eeeeee
}

nav .navbar:hover {
    color: rgb(29, 41, 37);
}

main .container h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

main .container p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

main .row {
    position: absolute;

}

section .row {
    padding: 12px;

}

section .row h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}

section .row p {
    font-size: 13px;

    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section .row .btn {
    width: 150px;
}

section .hr {}

section a .btn {

    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}